<div class="vehicle-content">
  <h2>{{ label }}</h2>
  <div class="vehicle-details">
    <p>{{ content.field_vehicle_make }}</p>
    <p>{{ content.field_vehicle_model }}</p>
    <p>{{ content.field_vehicle_year }}</p>
  </div>
</div>
